In [48]:
!pip install pandas
import pandas as pd

df = pd.read_csv("input01.txt", header=None, names=['mass'])

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [49]:
df

      mass
0    58444
1   100562
2   133484
3    67910
4    58372
..     ...
95  139529
96  122228
97  137866
98   78676
99   80779

[100 rows x 1 columns]

In [59]:
import math

def fuel(x):
    return math.floor(int(x) / 3)-2

def fuel_recur(x):
    totalfuel = fuel(x)
    y = fuel(x)
    if (fuel(y) > 0):
        totalfuel += fuel_recur(y)
    return totalfuel
    
    
df['fuel']=df['mass'].apply(fuel)
df['fuel_recur']=df['mass'].apply(fuel_recur)
#.apply(fuel, axis=1)

In [58]:

fuel_recur(1969)
#At first, a module of mass 1969 requires 654 fuel. Then, this fuel requires 216 more fuel (654 / 3 - 2). 
#216 then requires 70 more fuel, which requires 21 fuel, which requires 5 fuel, which requires no further fuel. 
#So, the total fuel required for a module of mass 1969 is 654 + 216 + 70 + 21 + 5 = 966.

966

In [60]:
df

      mass   fuel  fuel_recur
0    58444  19479       29191
1   100562  33518       50247
2   133484  44492       66708
3    67910  22634       33924
4    58372  19455       29156
..     ...    ...         ...
95  139529  46507       69731
96  122228  40740       61082
97  137866  45953       68902
98   78676  26223       39305
99   80779  26924       40357

[100 rows x 3 columns]

In [61]:
df.sum(axis=0)

mass          9808305
fuel          3269199
fuel_recur    4900909
dtype: int64