In [28]:
f = open('input03.txt')
d = f.read().splitlines()[0]
f.close()

In [29]:
d[:10]

'^><^>>>^<^'

In [38]:
p = {}
p[(0,0)] = 1

# Part 1
'''
x, y = 0, 0
for c in d:    
    if c == '^':
        y -= 1
    elif c == '>':
        x += 1
    elif c == '<':
        x -= 1
    else: # v
        y += 1
    if (x,y) in p:
        p[(x,y)] += 1
    else:
        p[(x,y)] = 1
'''

# Part 2
p = {}
p[(0,0)] = 1

x, y = 0, 0
x_rs, y_rs = 0, 0

rs = False
for c in d:    
    if rs:
        if c == '^':
            y_rs -= 1
        elif c == '>':
            x_rs += 1
        elif c == '<':
            x_rs -= 1
        else: # v
            y_rs += 1
        if (x_rs, y_rs) in p:
            p[(x_rs, y_rs)] += 1
        else:
            p[(x_rs, y_rs)] = 1
        rs = False
    else:
        if c == '^':
            y -= 1
        elif c == '>':
            x += 1
        elif c == '<':
            x -= 1
        else: # v
            y += 1        
        if (x,y) in p:
            p[(x,y)] += 1
        else:
            p[(x,y)] = 1
        rs = True

In [40]:
p

{(0, 0): 3,
 (0, -1): 3,
 (1, 0): 1,
 (-1, -1): 1,
 (1, -1): 2,
 (2, -1): 1,
 (2, -2): 1,
 (2, -3): 1,
 (1, -3): 2,
 (0, 1): 2,
 (1, -4): 2,
 (1, 1): 1,
 (0, -4): 1}

In [35]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [39]:
df = pd.DataFrame.from_dict(p, orient='index')
df

          0
(0, 0)    3
(0, -1)   3
(1, 0)    1
(-1, -1)  1
(1, -1)   2
(2, -1)   1
(2, -2)   1
(2, -3)   1
(1, -3)   2
(0, 1)    2
(1, -4)   2
(1, 1)    1
(0, -4)   1

In [37]:
df.size

13